body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.theme_bg{
  background-color: #27AE60;
  color: #fff;
}
.theme_color{
  color: #27AE60;
}
.search_input:focus{
 box-shadow: none;
}
section{
  padding: 50px 0;
}
.add-to-cart-button{
  transition: all ease-out 0.3s;
}
.add-to-cart-button:hover{
  background-color: #27AE60!important;
  color: #fff;
  border: none;
}